[submodule "FusionFilter"]
	path = FusionFilter
	url = https://github.com/FusionFilter/FusionFilter.git
[submodule "STAR-Fusion.github.io"]
	path = STAR-Fusion.github.io
	url = https://github.com/STAR-Fusion/STAR-Fusion.github.io.git
[submodule "STAR-Fusion.wiki"]
	path = STAR-Fusion.wiki
	url = https://github.com/STAR-Fusion/STAR-Fusion.wiki.git
[submodule "FusionInspector"]
	path = FusionInspector
	url = https://github.com/FusionInspector/FusionInspector.git
[submodule "FusionAnnotator"]
	path = FusionAnnotator
	url = https://github.com/FusionAnnotator/FusionAnnotator.git
