<tables>
    <table name="ctat_genome_resource_libs" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/ctat_genome_resource_libs.loc" />
    </table>
</tables>
